/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.u-(m|p)(t|r|b|l|h|v)(-|+|0) {}` = utility - margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/*------------------------------------*    #PX-COLORS-DESIGN
\*------------------------------------*/
/**
 * Brand Colors
 */
/**
     * Primary
     */
/**
     * Light
     */
/**
     * Dark
     */
/**
 * Monochromatic (gray10 is darkest, gray1 is lightest)
 */
/**
 * Define grey = gray to avoid dev typos
 */
/**
 * Buttons
 */
/**
 * Selection
 */
/**
 * Alerts
 */
/**
 * Data Visualization
 */
/**
     * Basic
     */
/**
     * Light
     */
/**
     * Dark
     */
.action-dialog--mask {
  transition: all 0.3s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
  opacity: 0;
  visibility: hidden; }
  .action-dialog--mask--is-open {
    position: fixed;
    z-index: 10;
    opacity: 1;
    visibility: visible; }

.action-sheet {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0;
  border-radius: 0;
  z-index: -1;
  position: fixed;
  left: 0;
  right: 0;
  transition: all 0.3s;
  bottom: 0;
  -webkit-transform: translateY(115%);
          transform: translateY(115%);
  border: none;
  border: var(--px-action-sheet-border, none);
  background-color: white;
  background-color: var(--px-action-sheet-background-color, white);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
  @media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
    .action-sheet {
      border-left: none;
      border-right: none; } }
  .action-sheet--is-open {
    z-index: 500;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible; }
  @media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
    .action-sheet {
      left: 0;
      right: 0; } }
  @media (min-width: 767px) {
    .action-sheet {
      left: 5%;
      right: 5%; } }
  @media (min-width: 1200px) {
    .action-sheet {
      left: 25%;
      right: 25%; } }
  .action-sheet__actions {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .action-sheet__actions > px-action-sheet-button {
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin: 0; }
      .action-sheet__actions > px-action-sheet-button:last-child {
        border-bottom: none !important; }
    .action-sheet__actions--grid {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .action-sheet__actions--grid px-action-sheet-button {
        -webkit-flex: 1 0 80px;
            -ms-flex: 1 0 80px;
                flex: 1 0 80px;
        margin: 0.6666666667rem; }
        @media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
          .action-sheet__actions--grid px-action-sheet-button {
            margin: 0.3333333333rem; } }
      .action-sheet__actions--grid .action-sheet__button {
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
    .action-sheet__actions--list {
      -webkit-flex-direction: column !important;
          -ms-flex-direction: column !important;
              flex-direction: column !important;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .action-sheet__actions--list px-action-sheet-button {
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin: 0; }
      .action-sheet__actions--list .action-sheet__button {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin: 0 !important;
        text-align: left; }
        .action-sheet__actions--list .action-sheet__button i {
          margin-left: 0.6666666667rem;
          margin-right: 0.6666666667rem; }
  .action-sheet__button {
    box-shadow: none;
    border: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    outline: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 0;
    padding: 0.6666666667rem;
    border-bottom: none; }
    .action-sheet__button > * {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
    .action-sheet__button--danger {
      color: #ff5c5c !important;
      border-bottom: none !important; }
    .action-sheet__button--info {
      color: #525156 !important;
      pointer-events: none;
      white-space: pre-wrap;
      line-height: normal; }
      .action-sheet__button--info:active {
        transition: none;
        opacity: 1; }
