/*
@usage

$values: #ff0000, #00ff00, #0000ff;
.primary {
  @include colors($values...);
}

$value-map: (text: #00ff00, background: #0000ff, border: #ff0000);
.secondary {
  @include colors($value-map...);
}
*/
.action-dialog--mask {
  transition: all 0.2s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
  opacity: 0;
  visibility: hidden; }
  .action-dialog--mask--is-open {
    z-index: 5;
    opacity: 1;
    visibility: visible; }

.action-sheet {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  border-radius: 8px;
  z-index: 500;
  position: absolute;
  bottom: -35%;
  left: 3%;
  right: 3%;
  transition: all 0.3s;
  bottom: 2%;
  -webkit-transform: translateY(115%);
  transform: translateY(115%); }
  .action-sheet--is-open {
    z-index: 10;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible; }
  .action-sheet__actions {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .action-sheet__actions > px-action-sheet-button:last-child {
      border-bottom: none !important; }
  .action-sheet__button {
    width: 100%;
    background-color: #fff !important;
    background: transparent;
    box-shadow: none;
    border: none !important;
    color: #177efb;
    display: block;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    outline: none;
    padding: 12px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid #ccc !important; }
    .action-sheet__button:active {
      transition: none;
      opacity: 0.8; }
    .action-sheet__button:disabled, .action-sheet__button[disabled] {
      opacity: 0.5;
      cursor: default;
      pointer-events: none; }
    .action-sheet__button:focus {
      outline: 0;
      transition: none; }
    .action-sheet__button:hover {
      box-shadow: none;
      transition: none; }
    .action-sheet__button--danger {
      color: #FE3F35 !important;
      border-bottom: none !important; }
    .action-sheet__button--cancel {
      margin-top: 10px;
      border-bottom: none !important; }
    .action-sheet__button--info {
      color: #777 !important;
      font-size: 1rem;
      padding: 20px 12px;
      pointer-events: none; }
      .action-sheet__button--info:active {
        transition: none;
        opacity: 1; }
